<section class="phx-hero">
  <h1><%= gettext "Welcome, %{email}!", email: @conn.assigns[:user].email  %></h1>
  <p>A productive web framework that<br/>does not compromise speed or maintainability.</p>
</section>

<ul>
  <%= Enum.map(@conn.assigns[:user], fn {k,v} -> %>
    <li><%= "#{k}: #{v}" %></li>
  <% end) %>
</ul>

<%= live_render(@conn, AllTheSinglePhotosWeb.LiveCounter) %>
